$borderColor:#e4e4e4;
$themeColor:#ff9933;
$themeBorderWidth:2px;
$themeBackgroundColor:#f5f5f5;
.title{
  height: 75px;
  line-height: 85px;
  text-align: center;
  font-size:26px;/*px*/
  border-top:1px solid $borderColor;/*no*/
  border-bottom:$themeBorderWidth solid $themeColor;/*no*/
}
.btnCenter{
  margin:0 auto;
  display: block;
  width: 95%;
  font-size: 26px;/*px*/
  color:white;
  border-radius: 7px;
}
.getCodeBtn{
  width: 95%;
  border: 2px solid $themeColor;
  text-align: center;
  color:$themeColor;
  padding: 10px 0;
  margin-top:10px ;
}
.toLogin{
  font-size:26px;/*px*/
  text-align: center;
}


